@font-face {
  src: url('./_weight/_500/fonts__sarpanch_weight_500.woff2') format('woff2'), url('./_weight/_500/fonts__sarpanch_weight_500.woff') format('woff');
  font-family: Sarpanch;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

article { color: red; }
