<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>R.O.B.</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Sarpanch:wght@500&display=swap" rel="stylesheet">

  <!-- TODO: add favicons and other meta -->

  <!-- TODO: find a way to inject styles here automatically maybe -->
  <style>
    html,body {
      margin: 0;
    }

    .root {
      width: 100vw;
      height: 100vh;
      font-family: Sarpanch, Helvetica, Arial, sans-serif;
      font-weight: 500;
      background: #111 repeat center;
      background-image: url("data:image/svg+xml,%3Csvg width='766' height='441' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23570810' stroke-width='24'%3E%3Cpath d='M-128 220.5L-255 441l127 220.5h256L255 441 128 220.5h-256zM638 220.5L511 441l127 220.5h256L1021 441 894 220.5H638zM-128-220.5L-255 0l127 220.5h256L255 0 128-220.5h-256zM638-220.5L511 0l127 220.5h256L1021 0 894-220.5H638z'/%3E%3Cpath d='M255 0L128 220.5 255 441h256l127-220.5L511 0H255zM255-441L128-220.5 255 0h256l127-220.5L511-441H255zM255 441L128 661.5 255 882h256l127-220.5L511 441H255z'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 28px 16px;
      transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out;
    }

    .root__content {
      opacity: 0;
    }

    .root__preloader, .root__content {
      transition: opacity .3s ease-in-out;
    }

    .global-preloader {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .global-preloader__shadow {
      transform: scale(0.5);
      transform-origin: center center;
      animation: pulse 2.4s linear infinite;
      opacity: 0;
    }

    .global-preloader__shadow_delayed_1 {
      animation-delay: .8s;
    }

    .global-preloader__shadow_delayed_2 {
      animation-delay: 1.6s;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.5);
        opacity: 0;
      }

      50% {
        opacity: 0.3;
      }
      
      70% {
        opacity: 0.1;
      }
      
      100% {
        transform: scale(1.5);
        opacity: 0;
      }
    }
  </style>
</head>
<body class="root">
  <svg id="global-preloader" class="global-preloader root__preloader" width="200" height="212" viewBox="0 0 721 762" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <path id="spider" d="M403.579 132.5h-85.155c-.271 0-.53.11-.719.304l-45.358 46.837c-.218.226-.318.542-.269.852l14.648 92.774c.121.765-.637 1.371-1.357 1.085l-34.238-13.601c-.381-.152-.631-.52-.631-.93v-36.69c0-.385.222-.737.57-.902l9.11-4.338c.465-.222.686-.761.509-1.245l-7.354-20.226c-.186-.511-.747-.78-1.262-.605l-24.895 8.455c-.405.137-.678.518-.678.946V279.5c0 .552-.448 1-1 1H174c-.552 0-1-.448-1-1V170.949c0-.286.122-.558.336-.747l20.999-18.666c.545-.484 1.408-.242 1.621.455l4.726 15.469c.171.56.784.853 1.328.636l20.605-8.242c.496-.198.748-.75.574-1.255l-18.662-54.072c-.242-.702-1.138-.905-1.659-.375l-54.081 55.056c-.184.187-.287.439-.287.701V306.5c0 .552.448 1 1 1h138.38c.597 0 1.061.52.993 1.113l-14.272 125.5c-.058.505-.485.887-.994.887H112c-.552 0-1 .448-1 1v172.064c0 .278.116.544.32.733l53.747 49.838c.475.441 1.237.32 1.553-.245l27.402-49.034c.265-.476.102-1.076-.368-1.351l-18.819-11.016c-.466-.273-1.063-.127-1.351.33l-13.331 21.145c-.337.535-1.081.626-1.537.188L135.813 596.8c-.2-.191-.311-.457-.308-.733l1.484-134.55c.006-.559.469-1.004 1.028-.988l83.042 2.346c1.066.03 1.35 1.485.374 1.914l-32.816 14.44c-.373.164-.609.537-.597.945l2.433 81.755c.022.731.797 1.193 1.45.863l51.184-25.831c.501-.253.696-.868.432-1.363l-11.082-20.779c-.247-.462-.807-.656-1.286-.444l-14.747 6.506c-.661.291-1.404-.193-1.404-.915v-24.332c0-.387.223-.739.573-.905l51.799-24.46c.709-.335 1.511.24 1.42 1.019l-11.236 96.728c-.035.306.072.61.29.827l44.362 43.868c.187.185.44.289.703.289h117.675c.265 0 .519-.105.707-.293l43.864-43.864c.216-.216.322-.521.285-.825l-11.724-98.191c-.094-.787.722-1.366 1.434-1.016l52.789 25.914c.342.168.559.517.559.898v26.35c0 .721-.739 1.205-1.4.917l-17.247-7.518c-.48-.21-1.042-.012-1.285.453l-10.093 19.269c-.261.497-.061 1.111.441 1.36l53.14 26.331c.665.329 1.444-.155 1.444-.897V479.13c0-.385-.221-.736-.568-.902l-31.803-15.248c-.968-.465-.624-1.92.449-1.902l82.439 1.405c.546.01.983.454.983 1v132.59c0 .273-.111.534-.308.722l-22.316 21.367c-.454.434-1.192.347-1.533-.181l-13.296-20.632c-.301-.468-.926-.599-1.39-.294l-18.815 12.391c-.464.305-.59.93-.281 1.391l31.272 46.667c.347.519 1.079.596 1.527.161l50.837-49.37c.194-.189.303-.448.303-.718V436c0-.552-.448-1-1-1H449.88c-.503 0-.928-.374-.992-.873l-16.243-126.5c-.077-.598.389-1.127.992-1.127H573c.552 0 1-.448 1-1V159.92c0-.269-.108-.526-.299-.714l-54.538-53.563c-.532-.523-1.429-.3-1.654.412l-17.196 54.453c-.171.541.143 1.116.691 1.266l20.14 5.493c.489.133.999-.12 1.19-.589l5.599-13.781c.269-.663 1.127-.837 1.633-.331l17.641 17.641c.188.188.293.442.293.707V280.5c0 .552-.448 1-1 1h-51.586c-.891 0-1.337-1.077-.707-1.707l2-2c.188-.188.293-.442.293-.707v-72.378c0-.424-.268-.802-.668-.943l-25.379-8.93c-.525-.184-1.099.095-1.279.621l-7.374 21.662c-.169.497.075 1.04.559 1.244l8.029 3.38c.371.156.612.52.612.922v38.14c0 .418-.261.792-.653.938l-34.249 12.667c-.716.265-1.453-.338-1.335-1.092l14.66-93.822c.048-.311-.053-.628-.274-.853l-44.855-45.841c-.188-.193-.446-.301-.715-.301z" fill="#DA0014" stroke-width="4"/>
    </defs>

    <use xlink:href="#spider" x="0" y="0" class="global-preloader__shadow" />
    <use xlink:href="#spider" x="0" y="0" class="global-preloader__shadow global-preloader__shadow_delayed_1"/>
    <use xlink:href="#spider" x="0" y="0" class="global-preloader__shadow global-preloader__shadow_delayed_2"/>
    <use xlink:href="#spider" x="0" y="0" stroke="#000"/>
  </svg>

  <div id="app" class="root__content"></div>
</body>
</html>
