<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>R.O.B.</title>
  <!-- TODO: add favicons and other meta -->
  <!-- TODO: move critical styles here -->
</head>
<body>

</body>
</html>
