/* stylelint-disable selector-max-type */

input {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  font: inherit;
  border: 0;
}

button {
  outline: none;
  margin: 0;
  padding: 0;
  font: inherit;
  border: 0;
  background: transparent;
}

::selection {
  background-color: $black;
}
