.#{$b}_view_standard {
  width: 100%;
  padding: 8px 16px;
  height: 48px; /* TODO: make it equal size with inputs */
  background: #111;
  border-radius: 8px;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 8px 16px #821620;
  transition: box-shadow .1s ease-in-out;
  
  &:hover, &:focus {
    box-shadow: 0 8px 16px #560c13;
  }
}
