.#{$b}_view_standard {
  width: 100%;
  padding: 8px 16px;
  height: 48px;
  background: $almostBlack;
  border-radius: 8px;
  font-size: 24px;
  line-height: 32px;
  color: $white;
  text-transform: uppercase;
  box-shadow: 0 8px 16px $redShadow;
  transition: box-shadow .1s ease-in-out;
  
  &:hover, &:focus {
    box-shadow: 0 8px 16px #560c13;
  }

  &.#{$b}_loading {
    background-image: linear-gradient(-45deg, $almostBlack 25%, rgba($redRuby, .5) 25%, rgba($redRuby, .5) 50%, $almostBlack 50%, $almostBlack 75%, rgba($redRuby, .5) 75%, rgba($redRuby, .5));
    background-size: 35px 35px;
    pointer-events: none;
    animation: buttonLoading 2s linear infinite;

    @keyframes buttonLoading {
      0% {
        background-position: 0 0;
      }

      100% {
        background-position: 35px 35px;
      }
    }
  }

  &.#{$b}_disabled {
    pointer-events: none;
    color: $redDisabled;
  }
}
