.#{$b}__password-switcher {
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 14px;
  width: 72px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  color: $redRuby;
  transition: color .15s ease-in-out;
  
  &:hover, &:focus {
    color: $black;
  }
}
