.#{$b}_type_greeting {
  .#{$b}__logo {
    float: right;
    shape-outside: border-box;
    shape-margin: 4px;
    margin: -70px -16px 0 0;
    border: 4px solid $redCalm;
    background: $redCalm;
  }
}
