.#{$b} {
  display: grid;
  grid-template: 'content' 1fr
    'footer' auto / auto;
  box-sizing: border-box;
  min-height: 100vh;
  min-height: var(--viewport-height); // stylelint-disable declaration-block-no-duplicate-properties
  padding: 32px 24px;
  row-gap: 48px;
}
